.site-description {
  display: none;
}

.site-header {
  background: $color__primary;
}

p.site-title {
  margin: 0;
}

.site-branding {
  font-size: $size-l;
}

.main-navigation li {
  margin: 0 $size-s;
}